body {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: 300;

    margin: 0;
}

section {
    min-height: 100vh;
    page-break-after: always;

    display: flex;
    position: relative;
}
section[hidden] {
    display: none;
}
section > div {
    margin: 1cm;
}
section.title-page > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.title {
    margin: 1cm 0;
}
div.title > h1 {
    font-size: 48pt;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    line-height: 112%;

    color: #FFFFFF;
    background-color: #344E41;

    display: inline;
    padding: 0 0.25em 0 3cm;
    box-decoration-break: clone;

    position: relative;
    left: -2cm;
}

div.post-title-center {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.tiles {
    align-items: center;
    justify-content: center;
}
section.tiles > div {
    position: relative;
    overflow: hidden;

    border: 1px solid #E0E0E0;
}
section.tiles > div > img {
    position: absolute;
}

.page-number {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 20px;
    margin: 0;

    width: 1.2cm;
    height: 1.2cm;

    display: flex;
    justify-content: center;
    align-items: center;
}
.page-hint {
    position: absolute;

    font-size: 16px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.page-hint.up {
    top: 0;
    left: 0;
    right: 0;

    height: 1.2cm;
}
.page-hint.up > .arrow {
    transform: rotate(270deg);
}
.page-hint.down {
    bottom: 0;
    left: 0;
    right: 0;

    height: 1.2cm;
}
.page-hint.down > .arrow {
    transform: rotate(90deg);
}
.page-hint.left {
    left: 0;
    top: 0;
    bottom: 0;

    width: 1.2cm;

    writing-mode: sideways-lr;
}
.page-hint.left > .arrow {
    transform: rotate(180deg);
}
.page-hint.right {
    right: 0;
    top: 0;
    bottom: 0;

    width: 1.2cm;

    writing-mode: sideways-lr;
}
.arrow {
    height: 1em;
}

a {
    color: #588157;
    text-decoration: none;
}

label.file {
    color: #FFFFFF;
    background-color: #344E41;

    padding: 0.25em 0.5em 0.5em;
    display: inline-block;

    cursor: pointer;
}
label.file:hover {
    background-color: #3A5A40;
}
