html, body, #root {
    height: 100%;
}

body {
    font-family: Oswald, sans-serif;
    font-size: 14pt;
    font-weight: 300;

    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    box-sizing: border-box;
}

.map-toolbar {
    display: flex;
    flex: 1;

    margin-top: 1rem;
}

h1, h2 {
    font-weight: 400;
    margin: 1rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    font-weight: inherit;
    text-align: inherit;
}
td {
    text-align: right;
}
