.atlas-statistics {
    display: flex;
    gap: 0.5rem;

    & > div {
        flex-grow: 1;

        .figure {
            font-size: 18pt;
            font-weight: 400;
        }

        &.downloaded {
            width: 8rem;
            flex-grow: 0;
        }
    }
}
