.atlas-page {
    display: flex;

    width: 100vw;
    height: 100vh;
    break-after: page;

    justify-content: center;
    align-items: center;

    $page: &;

    .printable {
        position: relative;

        .tiles, .vector-layer {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
        }

        p {
            position: absolute;

            padding-block: 0.5rem;
            margin: 0;

            &.internal {
                padding-inline: 0.5rem;
            }

            &.map-name {
                font-weight: 400;

                left: 0;
                right: 0;

                &.internal { top: 0; }
                &.external { bottom: 100%; }
            }
            &.credits {
                left: 0;
                right: 0;
                text-align: right;

                &.internal { top: 0; }
                &.external { bottom: 100%; }
            }
            &.scale {
                left: 0;
                right: 0;

                &.landscape {
                    &.even {
                        &.internal { top: 0; }
                        &.external { bottom: 100%; }
                    }
                    &.odd {
                        &.internal { bottom: 0; }
                        &.external { top: 100%; }
                    }
                }

                &.portrait {
                    &.internal { bottom: 0; }
                    &.external { top: 100%; }

                    &.even {
                        text-align: left;
                        margin-left: 1cm;
                    }
                    &.odd {
                        text-align: right;
                        margin-right: 1cm;
                    }
                }
            }
            &.page-number {
                width: 1cm;
                text-align: center;
                font-weight: 400;

                &.internal {
                    padding-inline: 0;
                }

                &.odd {
                    &.internal { bottom: 0; right: 0; }
                    &.external { top: 100%; left: 100%; }
                }
                &.even {
                    &.portrait {
                        &.internal { bottom: 0; left: 0; }
                        &.external { top: 100%; right: 100%; }
                    }
                    &.landscape {
                        &.internal { top: 0; right: 0; }
                        &.external { bottom: 100%; left: 100%; }
                    }
                }
            }
            &.neighbor {
                text-align: center;

                &.left, &.right {
                    writing-mode: sideways-lr;
                }

                &.top {
                    left: 0;
                    right: 0;

                    &.internal { top: 0; }
                    &.external { bottom: 100%; }
                }
                &.bottom {
                    left: 0;
                    right: 0;

                    &.internal { bottom: 0; }
                    &.external { top: 100%; }
                }
                &.left {
                    top: 0;
                    bottom: 0;

                    &.internal { left: 0; }
                    &.external { right: 100%; }
                }
                &.right {
                    top: 0;
                    bottom: 0;

                    &.internal { right: 0; }
                    &.external { left: 100%; }
                }
            }
        }
    }
}
