.button {
    color: #FFFFFF;
    background-color: #4F772D;

    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    padding: 0.25em 0.5em 0.5em;
    display: inline-block;

    cursor: pointer;

    &:hover, &.active {
        background-color: #31572C;
    }
}
