.feature-list {
    display: block;
    padding: 0;
    margin: 1rem 0;
    border: 1px solid #E0E0E0;

    height: 10rem;
    overflow: auto;

    & > li {
        display: flex;
        font-size: 10pt;

        &:nth-child(odd) {
            background-color: #FAFAFA;
        }

        & > span { flex: 1; }
        & .remove { height: 0.75em; }
        &:not(:hover) .remove { display: none; }
    }

    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 1rem;
        }
    }
}
