.list {
    display: block;
    padding: 0;
    margin: 1rem 0;

    & > li {
        display: flex;
        margin-bottom: 0.5rem;

        & > span { flex: 1; }
        & .remove { height: 0.75em; visibility: hidden; }

        &:hover, &:focus-within {
            & .remove {
                visibility: visible;
            }
        }
    }

    &.empty {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 1rem;
        }
    }

    &.mini {
        height: 10rem;
        overflow: auto;
        border: 1px solid #E0E0E0;

        & > li {
            font-size: 10pt;
            margin-bottom: 0;

            &:not(:hover):not(.active) {
                &:nth-child(odd) {
                    background-color: #FAFAFA;
                }
            }
        }
    }
}
