.text-input {
    display: block;
    width: 100%;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    margin: 0;
    padding: 0;

    border: none;
    border-bottom: 2px solid #BDBDBD;

    &.major, &.minor {
        font-weight: 400;

        &:focus {
            outline: none;
        }
    }

    &.major { font-size: 20pt; }
    &.minor { font-size: 16pt; }
}
