.toolbar {
    width: 24rem;
    margin-left: 1rem;

    nav {
        display: flex;
        margin-bottom: 1rem;

        .toolbar-button {
            display: flex;
            flex-direction: column;
            flex: 1;

            font-size: 12pt;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }

            img {
                height: 2rem;
                margin: 0.25rem 0;
            }
        }
    }
}
